/*Reseteo de CSS*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:  'Alata', sans-serif;
}
/*Modificacion de Navbar*/
.navbar-modificada{
    background-color: black;
}
/*Modificacion de icono de Navbar*/
.imagen-navbar{
    height: 50px;
    width: auto;
    padding-right: 50px;
}
/*Modificacion color de boton*/
.btn-navbar{
    color: white;
    border-color: white;
}
/*Cambio de fondo en todo el carrusel*/
#contenedor-carrusel{
    background-image: radial-gradient(rgb(61, 59, 59), black)
}
/*Modificacion de Carrusel de imagenes*/
.carrusel-modificado{
margin: auto;
background-color: black;
}
/*Modificaciones para tarjetas*/
.card-modificada{
    background-color: black;
    padding: 25px 25px 75px 25px;
}
/*Cambios en boton de las cards*/
.btn-card{
    margin: 25px;
    color: #fff;
    background-color: rgb(46, 42, 42);
    border-color: rgb(46, 42, 42);
}
/*Modificacion de icono de footer*/
.img-navbar-footer{
    height: 50px;
    width: auto;
}   
/*Modificacion de lista en footer*/
.footer-modif{
    background-color: black;
    color: white;
}
/*Correccion para decoración de links*/
.link-corregido{
    text-decoration: none;
}
/*Whatsapp flotante*/
.whatsapp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
/*Animacion para Whatsapp flotante*/
.whatsapp:hover{
    text-decoration: none; 
}
/*Correccion de margenes para iconos*/
.margen-icon{
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}   
/*Modificaciones a formulario*/
.form-modificado{
    background-color: black;
    color: white;
    padding: 35px 15px 35px 15px;
}
/*Boton de formulario*/
.btn-primary-modificado{
    color: black;
    background-color: rgb(68, 65, 65);
    border-color: rgb(68, 65, 65);
}


/* AUTOS USADOS*/
.titulo-usados{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 35px;
    text-shadow: 5PX;
}